<div class="title-block">
  <h3 class="title">
    Страница истории <span class="sparkline bar"></span>
  </h3>
</div>
<div *ngIf="!isLoaded">Loading ...</div>
<div *ngIf="isLoaded">
  <wfm-history-chart [data]="chartData"></wfm-history-chart>

  <wfm-history-events></wfm-history-events>

  <wfm-history-filter></wfm-history-filter>
</div>
