<section class="section">
  <div class="row">
    <div class="col-12 chart-center">
      <ngx-charts-pie-chart
        [view]="view"
        [results]="data"
        [legend]="false"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="true"
      >

      </ngx-charts-pie-chart>
    </div>
  </div>
</section>
