<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <wfm-header></wfm-header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <wfm-sidebar></wfm-sidebar>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>

